$vw-viewport: 1440;
$vw-viewport-mobile: 414;
@function get-vw($size, $enable: true, $mobile: false) {
  $final-vw-viewport: $vw-viewport;
  @if $mobile {
    $final-vw-viewport: $vw-viewport-mobile;
  }
  @if $enable {
    $vw-context: $final-vw-viewport * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
  }
  @return $size;
}

$red: #fc4750;
$green: #66c364;

@font-face {
  font-family: 'PoppinsExtraLight';
  src: local('PoppinsExtraLight'),
    url(~assets/fonts/poppins/Poppins-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: local('PoppinsSemiBold'),
    url(~assets/fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: local('PoppinsRegular'),
    url(~assets/fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

html {
  // font-size: get-vw(16px);
  @screen md {
    font-size: get-vw(16px, $mobile: true);
  }

  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  .for-desktop {
    @media only screen and (max-width: 1024px) {
      display: none !important;
    }
  }

  .for-mobile {
    display: none !important;
    @media only screen and (max-width: 1024px) {
      display: block !important;
    }
  }
  .container-fluid {
    @media only screen and (max-width: 1024px) {
      .desktop-banner {
        display: none;
      }
    }

    .mobile-banner {
      width: 100%;
      height: 100%;
    }
    .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: get-vw(40px) get-vw(57px);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      @media only screen and (max-width: 1024px) {
        padding: get-vw(40px, $mobile: true) get-vw(25px, $mobile: true);
      }

      &.home {
        // background: url('~assets/images/background.svg');
      }
      .btn-back {
        font-size: get-vw(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        @media only screen and (max-width: 1024px) {
          font-size: get-vw(25px, $mobile: true);
        }
        .arrow-left {
          font-size: get-vw(20px);
          margin-right: get-vw(10px);
          color: #808080;
          @media only screen and (max-width: 1024px) {
            font-size: get-vw(20px, $mobile: true);
            margin-right: get-vw(10px, $mobile: true);
          }
        }
        p {
          line-height: get-vw(30px);
          font-size: get-vw(14px);
          color: #808080;
          font-family: 'PoppinsExtraLight', sans-serif;
          @media only screen and (max-width: 1024px) {
            line-height: get-vw(30px, $mobile: true);
            font-size: get-vw(14px, $mobile: true);
          }
        }
      }
      .btn-find {
        display: inline-block;
        background: #363636;
        padding: get-vw(20px) get-vw(40px);
        margin-bottom: get-vw(80px);
        border-radius: get-vw(10px);
        color: white;
        text-decoration: none;
        font-family: 'PoppinsRegular', sans-serif;
        @media only screen and (max-width: 1024px) {
          padding: get-vw(20px, $mobile: true) get-vw(40px, $mobile: true);
          margin-bottom: get-vw(80px, $mobile: true);
          border-radius: get-vw(10px, $mobile: true);
        }
        &:hover {
          background-color: $red;
          color: white;
        }
      }

      .about {
        .btn-wrapper-about {
          position: absolute;
          left: get-vw(150px);
          bottom: get-vw(200px);
        }
        .btn-wrapper_ {
          position: absolute;
          right: get-vw(220px);
          top: get-vw(900px);
          @media only screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
            left: 0;
            top: unset;
            text-align: center;
          }
          .c-btn-find {
            margin-bottom: get-vw(20px);
          }
          .btn-back-statistic {
            font-size: get-vw(25px);
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            .arrow-left_ {
              font-size: get-vw(20px);
              margin-right: get-vw(10px);
              color: #808080;
            }
            .back {
              line-height: get-vw(30px);
              font-size: get-vw(14px);
              color: #808080;
              font-family: 'PoppinsExtraLight', sans-serif;
            }
          }
        }
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 1024px) {
          display: none;
        }
        .copy {
          display: flex;
          align-items: center;
          @media only screen and (max-width: 1024px) {
            align-items: unset;
            justify-content: space-between;
          }
          .red-miles-white,
          .red-miles-red {
            margin-right: 1vw;
            width: get-vw(66.8px);
            height: get-vw(34.28px);
            @media only screen and (max-width: 1024px) {
              width: get-vw(66.8px, $mobile: true);
              height: get-vw(34.28px, $mobile: true);
            }
          }
          .red-miles-white {
            @media only screen and (max-width: 1024px) {
              margin-right: unset;
            }
          }
          p {
            font-size: get-vw(16px);
            font-family: 'PoppinsExtraLight', sans-serif;
            width: 50%;
            @media only screen and (max-width: 1024px) {
              font-size: get-vw(12px, $mobile: true);
              width: 40%;
              line-height: get-vw(15px, $mobile: true);
            }
          }
        }
        .btnAbout {
          padding: 1vw 2vw;
          background: white;
          border-radius: get-vw(15px);
          text-decoration: none;
          font-family: 'PoppinsSemiBold', sans-serif;
          font-size: get-vw(15px);
          color: $red;
          &:hover {
            background-color: $red;
            color: white;
          }
        }
        &.header-home {
          @media only screen and (max-width: 1024px) {
            justify-content: center;
          }
          .copy {
            color: white;
            @media only screen and (max-width: 1024px) {
              width: 100%;
              align-items: center;
            }
            a {
              color: #fff;
            }
          }
        }
        &.header-detail {
          .btn-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            a {
              &:nth-child(1) {
                border: 1px solid #dadce0;
                border-radius: get-vw(15px) 0 0 get-vw(15px);
              }
              &:nth-child(2) {
                border: 1px solid #dadce0;
                border-radius: 0 get-vw(15px) get-vw(15px) 0;
              }
              &.nuxt-link-active {
                background-color: $red;
                color: white;
              }
            }
          }
        }
      }
      .content {
        padding: 10vw 10vw 5vw;
        .card {
          width: get-vw(250px);
          height: fit-content;
          background: #fff;
          padding: get-vw(27px);
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: 'PoppinsExtraLight', sans-serif;
          .title-mobile {
            display: none;
          }
          .menu {
            display: none;
          }
          .v-select {
            #vs2,
            #vs3 {
              &__combobox {
                padding: get-vw(15px) get-vw(10px);
                border-radius: get-vw(15px);
                background: #f2f3f5;
                border: none;
                margin-bottom: get-vw(12px);
              }
              &__listbox {
                border-radius: get-vw(20px);
                font-size: get-vw(12px);
              }
            }
            .vs {
              &__search {
                color: #4b4c4f;
                font-family: 'PoppinsExtraLight', sans-serif;
                font-size: get-vw(12px);
              }
              &__selected {
                font-size: get-vw(12px);
              }
            }
          }
          .file-wrapper {
            background: #f2f3f5;
            padding: get-vw(50px) 0 get-vw(50px) 0;
            margin-bottom: get-vw(12px);
            border-radius: get-vw(15px);
            text-align: center;
            #select-file {
              display: none;
            }
            .plus-circles {
              color: #bfbfbf;
              font-size: get-vw(70px);
              cursor: pointer;
              &:hover {
                color: $green;
              }
            }
            h2 {
              font-size: get-vw(20px);
            }
            p {
              font-size: get-vw(12px);
            }
          }
          .submit {
            width: 100%;
            outline: none;
            border: 1px solid #fc4750;
            padding: get-vw(15px);
            border-radius: get-vw(15px);
            background-color: unset;
            color: #fc4750;
            font-size: 15px;
            font-family: 'PoppinsSemiBold', sans-serif;
            cursor: pointer;
            .send {
              color: #fc4750;
              text-decoration: none;
            }
            &:hover {
              background-color: #fc4750;
              color: #fff;
              .send {
                color: #fff;
              }
            }
          }
        }
        &.about {
          padding: 5vw 0;
          .content-wrapper {
            display: flex;
            flex-direction: row;
            @media only screen and (max-width: 1024px) {
              flex-direction: column;
            }
            .title_ {
              width: 25%;
              text-align: center;
              font-size: get-vw(18px);
              font-family: 'PoppinsRegular', sans-serif;
              line-height: get-vw(50px);
              @media only screen and (max-width: 1024px) {
                width: 100%;
                font-size: get-vw(18px, $mobile: true);
                text-align: left;
                margin-bottom: get-vw(20px, $mobile: true);
              }
            }
            .article-wrapper {
              width: 75%;
              @media only screen and (max-width: 1024px) {
                width: 100%;
              }
              .article {
                margin-bottom: get-vw(90px);
                @media only screen and (max-width: 1024px) {
                  margin-bottom: get-vw(50px, $mobile: true);
                }
                .title-article {
                  font-size: get-vw(40px);
                  color: #fc4750;
                  font-family: 'PoppinsSemiBold', sans-serif;
                  line-height: get-vw(48px);
                  width: get-vw(350px);
                  @media only screen and (max-width: 1024px) {
                    line-height: get-vw(48px, $mobile: true);
                    width: get-vw(350px, $mobile: true);
                    font-size: get-vw(40px, $mobile: true);
                  }
                }
                .desc {
                  font-family: 'Poppins-ExtraLight', sans-serif;
                  font-size: get-vw(14px);
                  line-height: get-vw(24px);
                  color: #808080;
                  margin: get-vw(20px) 0;
                  width: get-vw(850px);
                  @media only screen and (max-width: 1024px) {
                    font-size: get-vw(14px, $mobile: true);
                    line-height: get-vw(24px, $mobile: true);
                    margin: get-vw(20px, $mobile: true) 0;
                    width: 100%;
                  }
                }
                a {
                  text-decoration: none;
                  font-family: 'Poppins-ExtraLight', sans-serif;
                  font-size: get-vw(14px);
                  color: #808080;
                  @media only screen and (max-width: 1024px) {
                    font-size: get-vw(14px, $mobile: true);
                  }
                }
              }
            }
          }
        }
        &.statistic {
          padding: 5vw;
          display: grid;
          grid-template-columns: auto auto auto;
          justify-items: center;
          @media only screen and (max-width: 1024px) {
            grid-template-columns: auto;
          }
          .box_ {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media only screen and (max-width: 1024px) {
              width: 100%;
            }
            .copy-wrapper {
              margin-bottom: get-vw(10px);
              @media only screen and (max-width: 1024px) {
                margin-bottom: get-vw(15px, $mobile: true);
              }
              .brand {
                font-family: 'PoppinsRegular', sans-serif;
                font-family: get-vw(30px);
              }
              .type {
                font-family: 'PoppinsExtraLight', sans-serif;
                font-family: get-vw(15px);
              }
              &.sosmed {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                a {
                  width: get-vw(110px);
                  height: get-vw(30px);
                  border: 1px solid #808080;
                  border-radius: 50rem;
                  text-decoration: none;
                  color: #808080;
                  font-size: get-vw(12px);
                  font-family: 'PoppinsExtraLight', sans-serif;
                  text-align: center;
                  line-height: get-vw(30px);
                  @media only screen and (max-width: 1024px) {
                    width: get-vw(100px, $mobile: true);
                    height: get-vw(30px, $mobile: true);
                    font-size: get-vw(12px, $mobile: true);
                    line-height: get-vw(30px, $mobile: true);
                  }
                  &.active {
                    font-family: 'PoppinsRegular', sans-serif;
                    color: #363636;
                    border-color: #363636;
                  }
                }
              }
            }
            &:first-child,
            &:nth-child(2) {
              .card_ {
                padding: 0;
                background: transparent;
              }
            }
            .card_ {
              position: relative;
              width: calc(72vw / 3);
              height: 24vw;
              border-radius: get-vw(25px);
              background: #fdf4f2;
              margin-bottom: get-vw(100px);
              padding: get-vw(25px);
              @media only screen and (max-width: 1024px) {
                width: 100%;
                height: 100vw;
                border-radius: get-vw(25px, $mobile: true);
                margin-bottom: get-vw(50px, $mobile: true);
                padding: get-vw(25px, $mobile: true);
              }
              img {
                width: 100%;
              }
              .card-sosmed {
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .card-reach-er {
                  background: #fdf4f2;
                  padding: get-vw(25px);
                  border-radius: get-vw(25px);
                  height: 63%;
                  @media only screen and (max-width: 1024px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: get-vw(25px, $mobile: true);
                    border-radius: get-vw(25px, $mobile: true);
                  }
                  .copy-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .copy {
                      font-family: 'PoppinsRegular', sans-serif;
                      text-align: center;
                      margin: 0 get-vw(30px);
                      @media only screen and (max-width: 1024px) {
                        margin: unset;
                      }
                      .title_ {
                        font-size: get-vw(18px);
                        @media only screen and (max-width: 1024px) {
                          font-size: get-vw(18px, $mobile: true);
                        }
                      }
                      .number {
                        font-size: get-vw(60px);
                        color: $green;
                        line-height: get-vw(85px);
                        font-family: 'PoppinsRegular', sans-serif;
                        @media only screen and (max-width: 1024px) {
                          font-size: get-vw(60px, $mobile: true);
                          line-height: get-vw(85px, $mobile: true);
                        }
                      }
                      &:nth-child(2) {
                        .number {
                          color: $red;
                        }
                      }
                    }
                  }
                  .status {
                    .circle-wrapper {
                      font-family: 'PoppinsRegular', sans-serif;
                      display: flex;
                      align-items: center;
                      &:first-child {
                        margin-bottom: get-vw(15px);
                        @media only screen and (max-width: 1024px) {
                          margin-bottom: get-vw(15px, $mobile: true);
                        }
                      }
                      svg {
                        font-size: get-vw(21px);
                        margin-right: 15px;
                        color: $green;
                        @media only screen and (max-width: 1024px) {
                          font-size: get-vw(21px, $mobile: true);
                          margin-right: get-vw(15px, $mobile: true);
                        }
                      }
                      &:nth-child(2) {
                        svg {
                          color: $red;
                        }
                      }
                      p {
                        font-size: get-vw(13px);
                        @media only screen and (max-width: 1024px) {
                          font-size: get-vw(13px, $mobile: true);
                        }
                      }
                    }
                  }
                }
                .desc_ {
                  height: 33%;
                  background: #fdf4f2;
                  padding: 25px;
                  border-radius: 25px;
                  font-family: 'PoppinsRegular', sans-serif;
                  font-size: get-vw(12px);
                  color: $red;
                  text-align: center;
                  @media only screen and (max-width: 1024px) {
                    display: flex;
                    align-items: center;
                    font-size: get-vw(12px, $mobile: true);
                    padding: get-vw(25px, $mobile: true);
                    border-radius: get-vw(25px, $mobile: true);
                  }
                }
              }
              .card-audience {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .card-wrapper {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  .title-reach {
                    font-family: 'PoppinsRegular', sans-serif;
                    text-align: center;
                    font-size: get-vw(18px);
                    @media only screen and (max-width: 1024px) {
                      font-size: get-vw(18px, $mobile: true);
                    }
                  }
                  .gender-wrapper {
                    text-align: center;
                    .box {
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      .fa-mars,
                      .fa-venus {
                        font-size: 25px;
                        margin-right: 10px;
                      }
                      p {
                        font-size: get-vw(18px);
                        font-family: 'PoppinsRegular', sans-serif;
                        @media only screen and (max-width: 1024px) {
                          font-size: get-vw(18px, $mobile: true);
                        }
                      }
                    }
                    .percentage {
                      font-family: 'PoppinsRegular', sans-serif;
                      font-size: get-vw(60px);
                      color: $green;
                      @media only screen and (max-width: 1024px) {
                        font-size: get-vw(60px, $mobile: true);
                      }
                    }
                  }
                }
                .population {
                  height: 65%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  .box_ {
                    background: white;
                    border-radius: get-vw(15px);
                    padding: get-vw(5px) get-vw(10px);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'PoppinsRegular', sans-serif;
                    @media only screen and (max-width: 1024px) {
                      border-radius: get-vw(15px, $mobile: true);
                      padding: get-vw(5px, $mobile: true)
                        get-vw(10px, $mobile: true);
                    }
                    .fa-clock {
                      font-size: get-vw(20px);
                      @media only screen and (max-width: 1024px) {
                        font-size: get-vw(20px, $mobile: true);
                      }
                    }
                    .age {
                      font-size: get-vw(25px);
                      line-height: get-vw(40px);
                      color: $green;
                      @media only screen and (max-width: 1024px) {
                        font-size: get-vw(25px, $mobile: true);
                        line-height: get-vw(40px, $mobile: true);
                      }
                    }
                    .percentage_ {
                      color: #808080;
                      font-size: get-vw(15px);
                      @media only screen and (max-width: 1024px) {
                        font-size: get-vw(15px, $mobile: true);
                      }
                    }
                    img {
                      width: get-vw(15px);
                      @media only screen and (max-width: 1024px) {
                        width: get-vw(15px, $mobile: true);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          padding: 0;
          margin-top: 50vw;
          display: flex;
          justify-content: center;
          .card {
            width: 100%;
            margin-top: 23vw;
            border-radius: 9vw;
            .title-mobile {
              padding: 40px;
              color: $red;
              display: flex;
              justify-content: flex-start;
              h1 {
                font-size: get-vw(120px);
                font-family: 'PoppinsSemiBold', sans-serif;
              }
            }
            .menu {
              padding: 1px 5px;
              display: flex;
              justify-content: space-evenly;
              .designer {
                a {
                  border: 2px #dadce0 solid;
                  border-radius: 10px;
                  padding: 30px 15px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                }
                .card-body {
                  margin-top: 5vw;
                  .card-title {
                    color: $red;
                    font-size: get-vw(58px);
                    font-family: 'PoppinsSemiBold', sans-serif;
                  }
                }
              }
              .copy-writer {
                a {
                  border: 2px #dadce0 solid;
                  border-radius: 10px;
                  padding: 30px 15px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                }
                .card-body {
                  margin-top: 5vw;
                  .card-title {
                    color: $red;
                    font-size: get-vw(58px);
                    font-family: 'PoppinsSemiBold', sans-serif;
                  }
                }
              }
            }
            .v-select {
              display: none;
              #vs2,
              #vs3 {
                &__combobox {
                  display: none;
                }
                &__listbox {
                  display: none;
                }
              }
              .vs {
                &__search {
                  color: #4b4c4f;
                  font-family: 'PoppinsExtraLight', sans-serif;
                  font-size: get-vw(12px);
                }
                &__selected {
                  font-size: get-vw(12px);
                }
              }
            }
            .file-wrapper {
              display: none;
              #select-file {
                display: none;
              }
              .plus-circles {
                color: #bfbfbf;
                font-size: get-vw(70px);
                cursor: pointer;
                &:hover {
                  color: $green;
                }
              }
              h2 {
                font-size: get-vw(20px);
              }
              p {
                font-size: get-vw(12px);
              }
            }
            .submit {
              display: none;
            }
          }
        }
      }
    }
  }
}
